[project]
	description = edit files with sync with ftp server
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Amit Choukroun (amitmtrn)
[access "refs/for/refs/*"]
	read = group user/Amit Choukroun (amitmtrn)
	push = group user/Amit Choukroun (amitmtrn)
	label-Code-Review = -2..+2 group user/Amit Choukroun (amitmtrn)
	label-Verified = -1..+1 group user/Amit Choukroun (amitmtrn)
	rebase = group user/Amit Choukroun (amitmtrn)
	removeReviewer = group user/Amit Choukroun (amitmtrn)
	submit = group user/Amit Choukroun (amitmtrn)
[access "refs/heads/*"]
	read = group user/Amit Choukroun (amitmtrn)
	create = group user/Amit Choukroun (amitmtrn)
	push = +force group user/Amit Choukroun (amitmtrn)
	pushMerge = group user/Amit Choukroun (amitmtrn)
[access "refs/tags/*"]
	push = group user/Amit Choukroun (amitmtrn)
	push = +force group user/Amit Choukroun (amitmtrn)
